/*   ---    Whole Page All Pages   ---   */
/*   ---    Whole Page All Pages   ---   */
/*   ---    Whole Page All Pages   ---   */

html {
	background: #b30000;
	width: 100%;
	color: black;
	font-family: 'Ubuntu', sans-serif;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

/*   ---    Header & Navigation   ---   */
/*   ---    Header & Navigation   ---   */

header {
	background: #efffff;
}

#logo {
	width: 20%;
	margin: -0.25% 0 0.5% 1.5%;
}

.hamburger {
	display: none;
	width: 15%;
	margin: 1.5% 5% 1% 1%;
}

nav {
	width: 77%;
	display: inline-block;
}

nav a {
	display: inline-block;
	float: right;
	padding: 1% 2.5%;
	margin: 0;
	font-size: 1.4em;
	font-family: 'Ubuntu', sans-serif;
	color: #b30000;
	font-weight: 900;
	border-radius: 3%;
}

nav a:hover {
	background-color: #b30000;
	color: #efffff;
	transition: 1s ease;
	-webkit-transition: 1s ease;
	-moz-transition: 1s ease;
	-o-transition: 1s ease;
}

/*   ---    Banner   ---   */
/*   ---    Banner   ---   */

#banner p {
	margin: 0;
	padding: 1%;
	text-align: center;
	color: #f1f1f1;
	font-size: 1.8em;
	font-family: arial;
}

/*   ---    Slider   ---   */
/*   ---    Slider   ---   */

#slider-container {
	width: 100%;
	overflow: hidden;
}

#slider-controls img {

}

/*   ---    Responsive   ---   */
/*   ---    Responsive   ---   */

@media screen and (max-width: 740px) {
	#logo {
		width: 40%;
	}

	.hamburger {
		display: inline-block;
		float: right;
		height: 5%;
	}

	.hamburger:hover {
		cursor: pointer;
	}
}