/*   ---    Whole Page All Pages   ---   */
/*   ---    Whole Page All Pages   ---   */
/*   ---    Whole Page All Pages   ---   */

html {
	background: #b30000;
	width: 100%;
	font-family: 'PT Serif', serif;
	color: black;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
}

a:hover {
}

ul {
	list-style: none;
}

/*   ---    Header & Navigation   ---   */
/*   ---    Header & Navigation   ---   */

header {
	background: white;
}

#logo {
	width: 30%;
	margin: 1%;
}

.hamburger {
	display: none;
}

nav {
	float: right;
	margin: 2.5% 0;
	width: 60.5%;
	padding-right: 3%;
}

nav p {
	display: inline-block;
	padding: 1% 2%;
	margin: 0;
	font-size: 1.1em;
}

nav a {
	color: #797979;
}

nav a:hover,
nav a:active {
	color: #800000;
}

#solution-ul {
	display: inline-block;
	font-size: 1.1em;
	padding: 1% 2%;
	margin: 0;

}


@media screen and (max-width: 740px) {
	#logo {
		width: 40%;
	}

	.hamburger {
		display: inline-block;
		float: right;
		width: 20%;
	}

	.hamburger:hover {
		cursor: pointer;
	}

	.ham-line {
		height: 2px;
		width: 10px;
		margin: 1px;
		background: red;
	}

	#home main {
	}